<mat-grid-list cols="1" rowHeight="300" gutterSize="5px">
    <mat-grid-tile>
        <mat-grid-tile-header>
            Customer Details
        </mat-grid-tile-header>
    <form [formGroup]="customerObj.formCustomerGroup">
        Customer Name : <input formControlName="namecontrol" type="text" [(ngModel)]="customerObj.name" value="" />
        <div [hidden]="!(customerObj.formCustomerGroup.controls['namecontrol'].hasError('required'))"
        style="color:red;" visibility:hidden>*Name is required</div><br>
        
        Customer Address : <input formControlName="addresscontrol" type="text" [(ngModel)]="customerAddress.address" value="" />
        <input type="button" (click)="AddAddress()" value="Add Address"/><br/>
        <!-- <div [hidden]="!(customerObj.formCustomerGroup.controls['addresscontrol'].hasError('required'))"
        style="color: red;">*Address is required</div><br> -->
        <br>
    
        <table>
            <tr>
                <td>Addresses</td>
            </tr>
            <tr *ngFor = "let address of customerObj.customerAddresses">
                <td>{{address.address}}</td>
            </tr>
        </table>
        <br>
        <input type="button" (click)="Submit()" value="Add Customer" />
    </form>
    <br>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-grid-tile-header>
            Added Customers
        </mat-grid-tile-header>
        <table>
            <tr>
                <td>Name</td>
                <td>Address</td>
            </tr>
            <tr *ngFor = "let cust of customerObjs">
                <td>{{cust.name}}</td>
                <td *ngFor = "let address of cust.addresses">
                    {{address.address}}
                </td>
            </tr>
        </table>
    </mat-grid-tile>    
        <!-- <div>
            <table mat-table [dataSource]="dataSource">
                
                <ng-container *ngFor = "let address of customerObj.customerAddresses" [matColumnDef]="customerAddress.address">
                    <th mat-header-cell *matHeaderCellDef> {{customerAddress.address}} </th>
                    <td mat-cell *matCellDef="let element"> {{element[address]}}
                        <span></span>
                    </td>
                </ng-container>
                 
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
            </table>
        </div> -->
</mat-grid-list>